.border-base {
  border: 2px solid green;
  padding: 20px;
  text-align: center;
}

.border-cus {
  border: 2px solid green;
  padding: 20px;
}

.mg-box {
  margin: 0 10px 20px;
}

.inner-box {
  background: #0092ff;
  padding: 8px 0;
}
