<div class="mg-box">
  <div nz-row style="padding-bottom: 30px;">
    <div nz-col nzSpan="24" class="border-base">
      <span>Welcome!</span>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="border-cus">
        <nz-card style="width:100%" [nzTitle]="title" [nzExtra]="extraTemplate">
          <nz-timeline>
            <nz-timeline-item nzColor="green">
              <nz-tag [nzColor]="'cyan'">Full Name</nz-tag>
              <b>Tran Minh Khanh</b>
            </nz-timeline-item>
            <nz-timeline-item nzColor="green">
              <nz-tag [nzColor]="'cyan'">Date of birth</nz-tag>
              <b>20-08-1997</b>
            </nz-timeline-item>
            <nz-timeline-item nzColor="green">
              <nz-tag [nzColor]="'cyan'">Sex</nz-tag>
              <b>Male</b>
            </nz-timeline-item>
            <nz-timeline-item nzColor="green">
              <nz-tag [nzColor]="'cyan'">Place of origin</nz-tag>
              <b>Nghe An</b>
            </nz-timeline-item>
            <nz-timeline-item nzColor="green">
              <nz-tag [nzColor]="'cyan'">Status</nz-tag>
              <b>Single</b>
            </nz-timeline-item>
          </nz-timeline>
        </nz-card>
      </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="border-cus">
        <nz-card style="width:100%" [nzTitle]="educationTitle" [nzExtra]="extraTemplate">
          <nz-timeline nzMode="alternate">
            <nz-timeline-item>2012-2015: THPT Do Luong I</nz-timeline-item>
            <nz-timeline-item nzColor="green">2015-2019: Ha Noi University of Science and Technology</nz-timeline-item>
            <nz-timeline-item nzColor="red">2019-now: Self study everything</nz-timeline-item>
            <nz-timeline-item nzColor="green">***Khanh***</nz-timeline-item>
          </nz-timeline>
        </nz-card>
      </div>
    </div>
  </div>

  <div nz-row style="padding-top: 30px;">
    <div nz-col nzSpan="24" class="border-cus">
      <nz-card style="width:100%" [nzTitle]="skillsTitle" [nzExtra]="extraTemplate">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="2">
            <span>C#</span>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="22">
            <nz-progress [nzPercent]="70" nzStatus="success"></nz-progress>
          </div>
        </div>

        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="2">
            <span>TypeScript</span>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="22">
            <nz-progress [nzPercent]="30" nzStatus="exception"></nz-progress>
          </div>
        </div>

        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="2">
            <span>SQL</span>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="22">
            <nz-progress [nzPercent]="50" nzStatus="normal"></nz-progress>
          </div>
        </div>

        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="2">
            <span>Angular</span>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="22">
            <nz-progress [nzPercent]="80" nzStatus="success"></nz-progress>
          </div>
        </div>

        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="2">
            <span>Database</span>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="22">
            <nz-progress [nzPercent]="60" nzStatus="active"></nz-progress>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>


<ng-template #extraTemplate>
  <a nz-tooltip="More about me"><img src="../../assets/icon/more.png" alt="img"></a>
</ng-template>

<ng-template #title>
  <img src="../../assets/icon/information-persional.png" alt="img">
  <span style="padding-left: 10px;">Personal Information</span>
</ng-template>

<ng-template #skillsTitle>
  <img src="../../assets/icon/skills.png" alt="img">
  <span style="padding-left: 10px;">Skills</span>
</ng-template>

<ng-template #educationTitle>
  <img src="../../assets/icon/education.png" alt="img">
  <span style="padding-left: 10px;">Education</span>
</ng-template>

